<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Miscellaneous</string>
	<key>scope</key>
	<string>source.fortran</string>
	<key>settings</key>
	<dict>
		<key>decreaseIndentPattern</key>
		<string>^\s+END$</string>
		<key>highlightPairs</key>
		<array>
			<array>
				<string>(</string>
				<string>)</string>
			</array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
		</array>
		<key>increaseIndentPattern</key>
		<string>\b(?i:(IF|DO))\b</string>
	</dict>
	<key>uuid</key>
	<string>FABD51CF-B183-4349-B8A5-61CDF4D156A8</string>
</dict>
</plist>
